@mixin flex ($direction, $align, $justify, $area) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    grid-area: $area;
}
@mixin grid ($columns, $rows) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}
@mixin start-end ($cstart, $cend, $rstart, $rend) {
    grid-column-start: $cstart;
    grid-column-end: $cend;
    grid-row-start: $rstart;
    grid-row-end: $rend;
}