@media (max-width: 375px) {
    
header {img {
    width: 80px;} }

nav {ol {
    font-size: 15px;
    margin-left: 2px;} }

.main-fotos{
        margin-left: -380px;
        img {
            width: 100px;}}

.banner img{
    width: 100px}

.footer {
    font-size: 15px;}

.form-name {
    width: 200px;
    }
.form-email {
    width: 200px;}
    
.form-comentario{
    width: 300px;
    height: 300px;
    }

.form-comentario{
    label {
    background-color: #704564b2;
    width: 200px;}}

.contactarnos{h2 {
    font-size: 15px;} }

.descripcion{
    font-size: 15px;
    padding: 5px;
    }

.horarios-de-atencion { h2{
    font-size: 15px;}
    ol {
        font-size: 14px;
    }
}
iframe{
    margin-left: 10%;}

    .recomendaciones {
        margin-top: 5%;
        margin-bottom: 10%;
        width: fit-content;
        img {
            width: 280px;
        }
    }
}