@media (max-width:320px) {
    header {img {
        width: 70px;}}

    nav {ol {
            font-size: 12px;
            li{ a {
                line-height: 15px;}}}}
    .search {
        padding: 5px;
        border-radius: 10px;
        margin:2px}

    .slogan {
            h1 {
            margin-top: 50px;
            font-size: 25px;}
            a {
                font-size: 10px;
                margin-left: 140px;}}
        
    .main-fotos{
        width: auto;
        margin-left: -290px;
        margin-top: 150px;
        img {
            width: 70px;}}

    .banner{ img{
        width: 70px}}
        
    .footer {
        font-size: 12px;}
        
    main {
        margin-top: -10%;
        }
    .abcd {
    font-size: 12px;
        }

    .productos {img{
        width: 150px;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 12px;}
    p{
        font-size: 10px;}
}

    .tragos {img{
        width: 150px;
    }
    h1{
        font-size: 12px;
    }
    p{
        font-size: 10px;
    }
    ul{li{
        font-size: 10px;
        list-style: none;
    }}   
}

.form-comentario { label {
    font-size: 12px;}

    ::placeholder {
    font-size: 12px;}
}
.form-name {
    width: 200px;
    font-size: 12px;
}
.form-email {
    width: 200px;
    font-size: 12px;

}
.form-comentario{
    width: 250px;
    height: 250px;
    font-size: 12px;
}
.contactarnos {
    margin-left: 5px;
    margin-right: 5px;
    img{
        width: 25px;
    }
    h2 {
        font-size: 12px;
    text-align: center;}
    a {
        font-size: 12px;
    }
}
.horarios-de-atencion li {
    font-size: 12px;
}

iframe{
    width: 200px;
    height: 200px;
    margin-left: 18%;}

    .recomendaciones {
    padding-left: 10%;
    img {
        width: 250px;
    }
    }




}
